streamlit
streamlit-lottie
streamlit-option-menu
requests
pandas
numpy
google-generativeai>=0.8.3
pdfplumber
yfinance
altair
openpyxl
cryptography
lxml
plotly
XlsxWriter
scipy
langchain
langgraph
langchain-google-genai
langchain_anthropic
typing-extensions
langchain-core
langchain-openai
langchain-experimental
stockstats
rank-bm25
setuptools
backtrader
parsel
tqdm
pytz
redis
chainlit
rich
typer
questionary
matplotlib
seaborn